/* Debian language css file for ukrainian - uk */
/* please do not touch for now! - Jutta Wrage 2005 */

/* quotes ok */
html[lang=uk] q:before { content: "\201E"; }
html[lang=uk] q:after { content: "\201C"; }
html[lang=uk] q q:before { content: "\00AB"; }
html[lang=uk] q q:after { content: "\00BB"; }

html[lang=uk] blockquote.quote p:first-child:before { content: "\201E"; }
html[lang=uk] blockquote.quote p:after { content: ""; }
html[lang=uk] blockquote.quote p.last:after { content: "\201C"; }

/* html[lang=uk] q:before { content: "\00AB"; }
html[lang=uk] q:after { content: "\00BB"; }
html[lang=uk] q q:before { content: "\00AB"; }
html[lang=uk] q q:after { content: "\00BB"; } 
*/
